.t {
  width: 300px;
  font-family: sans-serif;
  line-height: 1.618;
  padding: 16px;
}

.f {
  height: 1000px;
  background-color: coral;
}

[data-scroll-animation^='fade-'] {
  opacity: 0;
  transition: transform .4s, opacity .4s;
  &.animate {
    opacity: 1;
    transform: translate(0, 0);
  }
}

[data-scroll-animation='fade-up'] {
  transform: translate(0, 100px);
}